
---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.archive__item-teaser {
  video {
    width: 100%;
    display: block;
    margin: 0;
  }
} 

.feature__wrapper { 
  a {
    color: inherit; 
    text-decoration: inherit; 
    background-color: grey;
     &:hover { 
        background-color: grey;
        text-decoration: inherit !important; 
    }
  } 
}


.page__content .archive__item-title {
    margin-top: 0.5em;
}


.row {
  display: flex;
}
.column {
  flex: 50%;
}


.copy {
  color: #000;
  background-color: #008000;
    &:hover {
      background-color: #0B6623;
    }
}


.notice--success {
  font-size: 1em !important;
    button {
      
  }
}







.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    &:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }
  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



