---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.archive__item-teaser {
  video {
    width: 100%;
    display: block;
    margin: 0;
  }
} 

.feature__item { 
  a, a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; 
    background-color: grey;
  } 
}
